.star {
  color: gold;
  font-size: 2rem;
}

.reviews {
  font-size: 1.8rem;
}
.normal {
  font-size: 1.5rem;
}

.gray {
  color: gray;
  font-size: 2rem;
}

.fa:focus,
.fa:active {
  outline: none !important;
  box-shadow: none;
}

.ratePhoto {
  max-width: 75px;
  border-radius: 50%;
}

.profile {
  width: 150px;
}

@media screen and (min-width: 0px) and (max-width: 991px) {
  #subjectsTab {
    display: none;
  }
  #btnsBigScreen {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  #subjectsDropdown {
    display: none;
  }
  #smallScreen {
    display: none;
  }
}

.newLine {
  width: 100%;
  display: block;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
}

.btnsModal {
  width: 100%;
  display: block;
}

.or {
  text-align: center;
  color: gray;
}

.lang {
  display: inline-grid;
  zoom: 1;
  margin: 3px;
  padding: 3px 5px;
  background-color: rgba(178, 178, 178, 0.15);
}

.btns:hover {
  cursor: pointer;
}

.btns {
  padding: 7px;
}

.alert {
  text-align: center;
  padding: 7px;
}

.photobox {
  position: relative;
}

.photobtn {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.photobtn:hover {
  color: pink;
}
