.img-thumbnail {
  margin: 25px;
  width: 100px;
  height: 100px;
}

.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}

.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}
.checked {
  color: gold;
  font-size: 2rem;
}
.reviews {
  font-size: 1.8rem;
}
.normal {
  font-size: 1.5rem;
}
.title {
  font-size: 1.5rem;
}
.gold {
  color: gold;
  font-size: 2rem;
}

.gray {
  color: gray;
  font-size: 2rem;
}

.fa:focus,
.fa:active {
  outline: none !important;
  box-shadow: none;
}

.ratePhoto {
  border-radius: 50%;
  /* width: 75px; */
}

.countryFlag {
  width: 40px;
}

.profile {
  width: 150px;
}

.ratePhoto {
  max-width: 75px;
}

@media screen and (min-width: 0px) and (max-width: 991px) {
  #subjectsTab {
    display: none;
  }
  #btnsBigScreen {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  #subjectsDropdown {
    display: none;
  }
  #smallScreen {
    display: none;
  }
}

.newLine {
  width: 100%;
  display: block;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
}

.loginBtn {
  width: 100%;
  display: block;
}

.registerBtn {
  width: 100%;
  display: block;
}
.or {
  text-align: center;
  font-size: 1rem;
  color: gray;
}
