<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your Profile</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information: </strong>You have made changes. Any unsaved changes
        will be lost!
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ mainPhotoUrl || 'assets/user.png' }}"
          alt="{{ user?.userName }}"
        />

        <div class="card-body">
          <div>
            <strong>Skills</strong>
            <div *ngFor="let skill of user.skills">
              <p>{{ skill.skillName }}</p>
            </div>
          </div>
          <div>
            <strong>Location</strong>
            <p>{{ user.city }}, {{ user?.country }}</p>
          </div>

          <div>
            <strong>Last Active</strong>
            <p>{{ user?.lastActive }}</p>
          </div>
          <div>
            <strong>Member since</strong>
            <p>{{ user?.created | date: "mediumDate" }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Edit Profile">
            <form
              #editForm="ngForm"
              id="editInfoForm"
              (ngSubmit)="updateUser()"
            >
              <h4>Description</h4>
              <textarea
                name="introduction"
                rows="6"
                class="form-control"
                [(ngModel)]="user.introduction"
              ></textarea>
              <h4>Looking for</h4>
              <textarea
                name="lookingFor"
                rows="6"
                class="form-control"
                [(ngModel)]="user.lookingFor"
              ></textarea>

              <h4>Location details:</h4>
              <div class="form-inline">
                <label for="city">City</label>
                <input
                  class="form-control"
                  type="text"
                  name="city"
                  [(ngModel)]="user.city"
                />
                <label for="city">Country</label>
                <input
                  class="form-control"
                  type="text"
                  name="country"
                  [(ngModel)]="user.country"
                />
              </div>
              <div class="card-footer">
                <button
                  [disabled]="!editForm.dirty"
                  form="editInfoForm"
                  class="btn btn-success btn-block"
                >
                  Save Changes
                </button>
              </div>
            </form>
          </tab>

          <tab heading="Edit Skills">
            <form
              #editSkillForm="ngForm"
              id="editSkillForm"
              (ngSubmit)="updateUser()"
            >
              <h4>Skills</h4>

              <div *ngFor="let skill of user.skills; let i = index">
                <input
                  class="form-control"
                  type="text"
                  name="skill"
                  [(ngModel)]="skill.skillName"
                />

                <h4>Skill Description</h4>
                <textarea
                  name="skills"
                  row="3"
                  class="form-control"
                  [(ngModel)]="skill.description"
                >
                </textarea>

                <h4>Link 1</h4>
                <input
                  class="form-control"
                  type="text"
                  name="url1"
                  [(ngModel)]="skill.url1"
                />
                <h4>Link 2</h4>
                <input
                  class="form-control"
                  type="text"
                  name="url2"
                  [(ngModel)]="skill.url2"
                />

                <h4>Link 3</h4>
                <input
                  class="form-control"
                  type="text"
                  name="url3"
                  [(ngModel)]="skill.url3"
                />
              </div>
              <div class="card-footer">
                <button
                  [disabled]="!editSkillForm.dirty"
                  form="editSkillForm"
                  class="btn btn-success btn-block"
                >
                  Save Changes
                </button>
              </div>
            </form>
          </tab>
          <tab heading="Edit Photos">
            <app-photo-editor
              [photos]="user.photos"
              (getMemberPhotoChange)="updateMainPhoto($event)"
            ></app-photo-editor>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
