<app-nav></app-nav>

<ng-sidebar-container>

  <!-- A sidebar -->
  <ng-sidebar
  class="sidebar"
    position="right"
    closeOnClickOutside="true"
    animate="true"
    [(opened)]="_opened"
    (onClosed)="onClose()" >

    <div class="ng-sidebar">
      <div class="my-3 mx-4">
        <i
          class="fa pb-1 fa-times"
          (click)="_toggleSidebar()"
          aria-hidden="true"
          style="cursor: pointer;"
        ></i>
      </div>
    
      <div class="card shadow" >
        
        <div class="card-body" >

          <button class="btn btn-outline-info btn-block" 
          [disabled]="setLoadMoreBtn()"
          (click)="loadMessages()" >{{loadMoreBtnName}}</button>


          <div *ngIf="messages?.length === 0">
            <span class="text-muted" >Write your message here... </span>
          </div>
    
          <ul class="chat" >
            <li *ngFor="let message of messages">

              <!-- to them -->
              <div class="recipient" *ngIf="message.senderId == recipientId">
    
                <span class="chat-img float-left  mr-2">
                  <img
                    src="{{ message.senderPhotoUrl || '../assets/user.png' }}"
                    alt="{{ message.senderUserName }}"
                    class="rounded-circle"           
                  />
                </span>
    
                <div class="mt-4 recipientText">{{ message.content }}     
                  <div class="dateU">
                      <div class="dateL">
                        <small class="text-muted float-right">
                          {{ message.messageSent | timeago | timeAgoSeconde }}
                          </small>
                      </div>
                  </div>
                </div>
              </div>
    
              <!-- to me -->
              <div class="sender" *ngIf="message.senderId != recipientId">
                
                  <div class="mt-3 senderText">{{ message.content }}
                    <div class="dateU">
                      <div class="dateL">
                        <small class="text-muted float-right">
                          {{ message.messageSent | timeago | timeAgoSeconde }}
                          </small>
                      </div>
                  </div>
                 
                  </div>
                  <small class="text-muted">
                    <!-- <span *ngIf="!message.isRead" class="text-dark ml-1"
                      >(unread)</span 
                    >-->
                    <!-- <span *ngIf="message.isRead" class="text-dark"
                      >(Read)</span
                    > -->
                  </small>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <form
            #messageForm="ngForm"
            (ngSubmit)="messageForm.valid && sendMessage()"
            class="input-group"
          >
            <textarea
              type="text"
              [(ngModel)]="newMessage.content"
              name="content"
              required
              class="form-control"
              placeholder="Send a message"
            >
            </textarea>
            <div class="input-group-append">
              <button [disabled]="!messageForm.valid" class="btn btn-info">
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>
