<nav class="navbar navbar-expand-md container-fluid">
  <a class="navbar-brand" [routerLink]="['']">Talk App</a>

  <div class="ml-auto">
    <ul *ngIf="loggedIn()" class="nav">
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/messagebox',authService.decodedToken.nameid]" aria-disabled="true"
          >Message <span class="badge badge-pill badge-danger" *ngIf="newMassageBadge">N</span></a
        >
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/lists']">My List</a>
      </li>
    </ul>
  </div>
  <div *ngIf="loggedIn()" class="btn-group" dropdown>
    <!-- <span class="mr-1"><img src="{{ mainPhotoUrl }}" /></span> -->

    <a
      id="button-basic"
      class="dropdown-toggle btn text-primary mr-4 nav-link"
      aria-controls="dropdown-basic"
      dropdownToggle
      type="btn"
      style="color: text-primary"

    >
        {{ this.authService.decodedToken.given_name | titlecase }}<span class="caret"></span>
    </a>

    <ul
      id="dropdown-basic"
      *dropdownMenu
      class="dropdown-menu"
      role="menu"
      aria-labelledby="button-basic"
    >
      <li role="menuitem">
        <a
          class="dropdown-item"
          style="text-align: left"
          (click)="setChosenUserId()"
          [routerLink]="['/tutor/edit/', authService.decodedToken.nameid]"
        >
         Edit Profile</a
        >
      </li>
      <li role="menuitem">
        <a class="dropdown-item" href="#" (click)="logout()"> Log Out</a>
      </li>
    </ul>

  </div>
  <div class="" *ngIf="!loggedIn()">
    <a
      *ngIf="!loggedIn()"
      type="btn"
      class="btn btn-outline-primary mr-2"
      (click)="openModal(template)"
    >
      Log In
    </a>
    <a
      *ngIf="!loggedIn()"
      type="btn"
      class="btn btn-primary"
      [routerLink]="['/register/']"
      (click)="modalRef.hide()"
    >
      Sign Up
    </a>
  </div>
</nav>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Log in</h4>
    <button
      type="btn"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form
      *ngIf="!loggedIn()"
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0 p-2"
      (ngSubmit)="login()"
    >
      <input
        class="form-control inline-block input-block-level mb-2"
        type="text"
        name="email"
        placeholder="Email"
        aria-label="Search"
        required
        [(ngModel)]="model.email"
      />
      <input
        class="form-control inline-block input-block-level mb-2"
        type="password"
        name="password"
        placeholder="Password"
        aria-label="Search"
        required
        [(ngModel)]="model.password"
      />

      <button
        [disabled]="!loginForm.valid"
        class="btn btn-outline-success loginBtn"
        type="submit"
        (click)="modalRef.hide()"
      >
        Log in
      </button>
    </form>
  </div>
</ng-template>
