.card img {
  float: left;
  margin-right: 10px;
  clear: both;
  width: 200px;
  border-radius: 5%;
}

p {
  margin-left: 0px;
  overflow: auto;
}

.imgbox {
  float: left;
  margin: 3px;
  padding: 3px;
}
