<div class="card shadow mb-4 p-2">
  <div class="card-img-wrapper">
    <img
      class="card-img-top"
      src="{{ user.photoUrl || 'assets/user.png' }}"
      alt="{{ user.userName }}"
      [routerLink]="['/members/', user.id]"
    />
    <h5 class="card-title text-left mb-1">
      {{ user.userName | titlecase }}
    </h5>
    <div *ngIf="user.avgRate > 0" style="text-align: center"></div>
    <ng-template [ngIf]="user.avgRate" [ngIfElse]="loading">
      <div>
        <div style="display: inline-block; color: orange">
          {{ user.avgRate.toFixed(1) }}
        </div>

        <rating
          [max]="5"
          [(ngModel)]="user.avgRate"
          [customTemplate]="tt"
          readonly="true"
          class="ml-1"
        ></rating>

        <ng-template #tt let-i="index" let-v="value">
          <i
            class="fa fa-star  {{ i < v ? 'gold' : 'gray' }} mr-1  "
            aria-hidden="true"
          ></i>
        </ng-template>
        <div style="display: inline-block; color: gray">
          ({{ user.raters.length }})
        </div>
      </div>
    </ng-template>

    <ng-template #loading>
      <div class="ml-2">New Member</div>
    </ng-template>
  </div>

  <div class="content mt-1">
    <div *ngFor="let skill of user.skills; let i = index">
      <div *ngIf="i < 1">
        <p>
          Skills : <strong> {{ skill.skillName }}</strong>
        </p>
      </div>

      <div *ngIf="skill.url1">
        <p>{{ skill.url1 }}</p>
      </div>
    </div>
    <button
      class="btn btn-block btn-outline-primary"
      [routerLink]="['/members/', user.id]"
    >
      Send a message
    </button>
    <button
      class="btn btn-block btn-outline-primary"
      (click)="sendLike(user.id)"
    >
      Add to favorites
      <strong> </strong>
    </button>

    <p class="card-text">
      <small class="text-muted"
        >Last active {{ user.lastActive | timeago }}</small
      >
    </p>
  </div>
</div>
