<div class="card shadow my-2 p-2">
  <div class="row">

    <!-- Photo and Name -->
    <div class="card-img-wrapper col-md-2 centerallF ml-5">
      <img
        class="card-img-top userImg"
        src="{{ user.photoUrl || 'assets/user.png' }}"
        alt="{{ user.userName }}"
        [routerLink]="['/members/', user.id]"
      />
      <div>
        <p
          class="card-title text-left uName mt-3 ml-1"
          style="font-size: 1.3rem; text-align: left"
          [routerLink]="['/members/', user.id]"
        >
          {{ user.userName | titlecase }}
        </p>
        <p class="ml-1" style="font-size: 0.8rem">English Native</p>
      </div>
    </div>

    <!-- Rating -->
    <div class="col-md-3 col-lg-2 col-xl-3 centerall mr-3">
      <div *ngIf="user.avgRate > 0"></div>
      <ng-template class="centerall" [ngIf]="user.avgRate" [ngIfElse]="loading">
        <div class="mt-3" style="text-align: center">
          <div class="rating" style="display: inline-block; color: orange">
            {{ user.avgRate.toFixed(1) }}
          </div>

          <rating
            [max]="5"
            [(ngModel)]="user.avgRate"
            [customTemplate]="tt"
            readonly="true"
            class="ml-1"
          ></rating>

          <ng-template #tt let-i="index" let-v="value">
            <i
              class="fa fa-star  {{ i < v ? 'gold' : 'gray' }} mr-1 rating "
              aria-hidden="true"
            ></i>
          </ng-template>
        </div>
      </ng-template>

      <ng-template #loading>
        <div style="text-align: center">
          <p class="mt-3 text-info" style="font-size: 1.3rem">New Member</p>
        </div>
      </ng-template>
      <div
        class="mt-2"
        style="color: gray; text-align: center; font-size: 0.9rem"
      >
        <p>Based on {{ user.raters.length }} users</p>
      </div>
    </div>

    <!-- Exp and Fee -->
    <div class="col-md-3 col-lg-2 centerall mt-3" style="text-align: center">
      <p>2 years of experience</p>

      <p class="mt-2">$15 per hour</p>
    </div>
    
    <!-- Skills -->
    <div class="col-md-2 skill mt-3">
      <div
        class="skill"
        style="display: inline-block"
        *ngFor="let skill of user.skills; let i = index"
      >
        <div>
          <ul class="list-inline mb-0">
            <li class="liItem mr-1">{{ skill.skillName }}</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Btn -->
    <div class="content mt-2 col-md-12 col-lg-3 col-xl-2 btn-change">
      <button
        *ngIf="loggedIn()"
        class="btn btn-block btn-outline-primary btn-change"
        [routerLink]="['/members/', user.id]"
      >
        <div class="btn-change">Send a message</div>
      </button>
      <button
        class="btn btn-block btn-outline-primary btn-change"
        *ngIf="!loggedIn()"
        (click)="toggleIsFavo(false)"
        (click)="openModal(template)"
      >
        <div>Send a message</div>
      </button>
      <button
        class="btn btn-block btn-outline-primary btn-change"
        *ngIf="loggedIn()"
        (click)="sendLike(user.id)"
      >
        Add to favorites
      </button>
      <button
        class="btn btn-block btn-outline-primary btn-change"
        *ngIf="!loggedIn()"
        (click)="toggleIsFavo(true)"
        (click)="openModal(template)"
      >
        Add to favorites
      </button>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left" *ngIf="isFavo">
      Log in to add to your favorites
    </h4>
    <h4 class="modal-title pull-left" *ngIf="!isFavo">
      Log in to send a message
    </h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form
      *ngIf="!loggedIn()"
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0 p-2"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2 inline-block input-block-level mb-2"
        type="text"
        name="username"
        placeholder="Id"
        aria-label="Search"
        required
        [(ngModel)]="model.username"
      />
      <input
        class="form-control mr-sm-2 inline-block input-block-level mb-2"
        type="password"
        name="password"
        placeholder="Password"
        aria-label="Search"
        required
        [(ngModel)]="model.password"
      />

      <button
        [disabled]="!loginForm.valid"
        class="btn btn-outline-success loginBtn mr-2"
        type="submit"
        (click)="modalRef.hide()"
      >
        Log in
      </button>
      <div class="newLine">
        <p class="mt-2 or">or</p>

        <button
          *ngIf="!loggedIn()"
          type="button"
          class="btn btn-primary registerBtn"
          [routerLink]="['/register/']"
          (click)="modalRef.hide()"
        >
          Sign Up
        </button>
      </div>
    </form>
  </div>
</ng-template>
