.profile {
  float: left;
  margin-right: 10px;
  clear: both;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ratephoto {
  float: left;
  margin-right: 10px;
  clear: both;
  width: 50px;
  border-radius: 50%;
}

.card-img-top {
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  clear: both;
  width: 50px;
  height: 50px;
}

.gold {
  color: gold;
  font-size: 1rem;
}

.gray {
  color: gray;
  font-size: 1rem;
}

.fa:focus,
.fa:active {
  outline: none !important;
  box-shadow: none;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
}

.registerBtn {
  width: 100%;
  display: block;
}

.loginBtn {
  width: 100%;
  display: block;
}

.newLine {
  width: 100%;
  display: block;
}

.or {
  text-align: center;
  font-size: 1rem;
  color: gray;
}

.btn:focus,
.btn:active,
.userImg,
.uName {
  outline: none !important;
  box-shadow: none;
  cursor: pointer;
}

.liItem {
  display: inline;
  display: inline-block;
  zoom: 1;
  margin: 3px;
  padding: 2px;
  background-color: rgba(178, 178, 178, 0.15);
}

.content {
  margin-left: auto;
}

.centerall {
  padding: 0;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.centerallF {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.rating {
  font-size: 1.2rem;
}

@media only screen and (max-width: 991px) {
  .btn-change {
    display: flex !important;

    justify-content: center;
  }
  .btn-block {
    margin-top: 0;
    margin-right: 0.3rem;
  }
}

@media only screen and (max-width: 767px) {
  .card {
    max-width: 350px;
    margin: 0 auto 0 auto;
  }
  .skill {
    text-align: center;
  }

  .grayBG {
    max-width: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .content {
    margin-right: 1rem;
  }
  .rating {
    font-size: 1.6rem;
  }
}
