<div class="container  ">

    <div class="row" >
     <div class="col-12 col-md-4 sideBar border-md-right   ">
      <div class="list-group " *ngFor="let message of lastMessages">

          <!--other user sent me  -->
        <a class="list-group-item list-group-item-action border-0" 
          *ngIf="message.recipientId !== undefined && +this.authService.decodedToken.nameid === message.recipientId"
          (click)= "selectMessage(message)" >
            <img
              src="{{ message.senderPhotoUrl || '../assets/user.png' }}"
              alt="{{ message.senderUserName }}"
              class="userPhoto rounded-circle float-left flex-start ml-sm-0 "/>

            <div class="float-left ml-0 ml-md-2 mt-2 mt-md-0 " style="font-weight: 500;" > {{message.senderUserName | titlecase}}</div>

            <div class="float-right flex-end md-hide" ><small class="text-muted">{{message.messageSent |timeago|timeAgoSeconde}}</small> </div>

            <br>    
            <div class="text pl-2 md-hide ">  {{message.content.substring(0,20)}}</div>
            <div class="float-right flex-end  md-hide" *ngIf="!message.isRead" ><span class="dot ml-2 "></span></div>     
        </a>

          <!-- user sent to others -->
        <a class="list-group-item list-group-item-action border-0" 
          *ngIf=" +this.authService.decodedToken.nameid === message.senderId"
          (click)= "selectMessage(message)">
          <div><img
            src="{{ message.recipientPhotoUrl || '../assets/user.png' }}"
            alt="{{ message.recipientUserName }}"
            class="userPhoto rounded-circle float-left flex-start ml-sm-0"/></div> 

              <div class="float-left ml-0 ml-md-2  mt-2 mt-md-0 " style="font-weight: 500;" > {{message.recipientUserName | titlecase}}</div>

              <div class="float-right flex-end  md-hide" ><span><small class="text-muted ml-1">{{message.messageSent |timeago|timeAgoSeconde}}</small></span> </div>

              <br>    
             <div class="text pl-2 md-hide " >  {{message.content.substring(0,20)}}</div>
          </a>
      </div>

        <div *ngIf="lastMessages.length === 0">
          <div class="text-muted">No message yet...</div>
        </div>

    </div>

    <body class=" col">
      <div class="messageBox  "  >
        <div class="boxBody " >
            <div class="modal-header pt-2" *ngIf="chatPhotoWith !== null">
            
                <div><span class="chat-img float-left  mr-2">
                <img
                  src="{{chatPhotoWith }}"
                  alt="{{ chatWith }}"
                  class="rounded-circle link"    
                [routerLink]="['/members/',newMessage.recipientId]"      
                />
              </span></div>
          
              <div class="chatWith mr-auto link"     [routerLink]="['/members/',newMessage.recipientId]" > {{ chatWith | titlecase }}</div>
            </div>
            <button class="btn btn-outline-info btn-block" 
               [disabled]="setLoadMoreBtn()"
                (click)="loadMore()" >{{loadMoreBtnName}}</button>
        
              <div class="chat-body" >
                <!-- <div *ngIf="messageThread?.length === 0">
                  <span class="noMessage">Write your message here... </span>
                </div> -->
          
                <ul class="chat"id="chat-content" >
                  <li *ngFor="let message of messageThread; let i = index"  >
          
                    <div class="recipient" *ngIf="message.senderId == newMessage.recipientId" >
          
                      <span class="chat-img float-left  ">
                        <img
                          src="{{ message.senderPhotoUrl || '../assets/user.png' }}"
                          alt="{{ message.senderUserName }}"
                          class="rounded-circle rounded-circle-sm m-2"           
                        />
                      </span>
          
                      <div class="mt-4 recipientText">{{ message.content }}     
                        <div class="dateU">
                            <div class="dateL">
                              <small class="text-muted float-right">
                                {{ message.messageSent | timeago | timeAgoSeconde }}
                                </small>
                            </div>
                        </div>
                      </div>
                    </div>
          
                    <div class="sender" *ngIf="message.senderId != newMessage.recipientId">
                        <div class="mt-3 senderText mr-2">{{ message.content }}
                          <div class="dateU">
                            <div class="dateL">
                              <small class="text-muted float-right">
                                {{ message.messageSent | timeago | timeAgoSeconde }}
                                </small>
                            </div>
                        </div>
                      
                        </div>
                        <small class="text-muted">
                          <!-- <span *ngIf="!message.isRead" class="text-dark ml-1"
                            >(unread) {{i +1}}         </span 
                          > -->
                          <!-- <span *ngIf="message.isRead && messageThread[i+1].senderId === recipientId" class="text-dark"
                            >(Read)
                            {{messageThread[i].content}}
                            {{i}}
                            </span
                          > -->
                        </small>
                    </div>
          
                  </li>
                </ul>
              </div>
          </div>

            <div class="inputBox ">
              <form
                #messageForm="ngForm"
                (ngSubmit)="messageForm.valid && sendMessage()"
                class="input-group"
              >
                <textarea
                  type="text"
                  [(ngModel)]="newMessage.content"
                  name="content"
                  required
                  class="form-control"
                  placeholder="Send a message"
                >
                </textarea>
                <div class="input-group-append btnBox">
                  <button [disabled]="!messageForm.valid" class="btn btn-info">
                    Send
                  </button>
                </div>
              </form>
            </div>
          </div>
      </body>
    </div>
</div>



 

